/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    overflow-y: auto; /* ✅ permite hacer scroll vertical */
}

.image-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.flower {
    position: fixed;
    background-size: cover;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 2; /* por delante de la imagen */
}

/* Animación de caída con fade in/out */
@keyframes fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #25D366;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #1ebe57;
}

.countdown-title {
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #b60a6e;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    color: #964091;
    animation: fadeIn 1.5s ease-in-out;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.time-box span {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.time-box p {
    font-size: 1rem;
    margin-top: 0.3rem;
    color: #d67cda;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.ubicacion {
    text-align: center;
    margin-top: 2rem;
}

.btn-ubicacion {
    background-color: #d39ad1;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.btn-ubicacion:hover {
    background-color: #b97bb5;
    transform: scale(1.05);
}

.mapa-container {
    margin-top: 1rem;
    display: none;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}