/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.flower {
    position: fixed;
    background-size: cover;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 2; /* por delante de la imagen */
}

/* Animación de caída con fade in/out */
@keyframes fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #25D366;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #1ebe57;
}